{% extends "templates/web.html" %}
{% block title %}Sing Sports : Agree to terms of usage{% endblock %}
{% block script %}
<script src="agree.js"></script>
{% endblock %}
{% block head_include %}
<style>
	#signature {
		width: 50%;
		height: auto;
		border: 1px solid black;
	}
</style>
{% endblock %}

{% block breadcrumbs %}
{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}


{% block header %}
<h1>{{ title }}</h1>
{% endblock %}
{% block page_content %}
<hr>
<div class="container">
	<div class="row">

		<div class="col-sm-6"><h6 style='color: rgb(92, 20, 20);'>Your Details:</h6></div>
		<div class="col-sm-6"></div>
		<div class="col-sm-6">
			{% set existing_sign = student_signature_cf %}
			{% if existing_sign!='None' -%}
			<div  class="hidden"><textarea id="existing_sign">{{existing_sign}}</textarea></div>
			{%- endif %}
			<!-- Signature area -->
			<label class="control-label" style="padding-right: 0px;font-weight:bold;">Name:  {{student}}</label>
		</div>
		<div class="col-sm-6">
			<div class="frappe-control input-max-width" data-fieldtype="Select" >
				<div class="form-group">
					<div class="clearfix"> <label class="control-label" style="padding-right 0px;;font-weight:bold;">Waiver Signed By</label> </div>
					<div class="control-input-wrapper">
						<div class="control-input flex align-center"><select type="text" autocomplete="off"
								class="input-with-feedback form-control ellipsis" maxlength="140" data-fieldtype="Select"
								data-fieldname="waiver_signed_by_cf" placeholder="" id="waiver_signed_by_cf">
								{% set waiver_signed_by = waiver_signed_by_cf %}
							
								{% if waiver_signed_by=='Me' -%}
								<option value="Me" selected>Me</option>
								<option value="My Ward">My Ward</option>
								{%- else %}
								<option value="Me">Me</option>
								<option value="My Ward" selected>My Ward</option>							
								{%- endif %}
	
							</select>
							<div class="select-icon ">
								<svg class="icon icon-sm" style="">
									<use class="" href="#icon-select"></use>
								</svg>
							</div>
						</div>
						<div class="control-value like-disabled-input" style="display: none;">Me</div>
						<p class="help-box small text-muted"></p>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12"><br></div>
</div>
	<div class="row">
			<div class="col-sm-12">
				<h6 style='color: rgb(92, 20, 20);'>By clicking on the 'I agree' button, <u>you agree</u> to our facility's usage terms and conditions mentioned as below</h6>
				{{waiver_terms}}
				</div>
	</div>
	<div class="row">
		<div class="col-sm-12"><br></div>
</div>
	<div class="row">
			<div class="col-sm-12">
					<h6 style='color: rgb(92, 20, 20);'>Draw your signature in the box below and click on the 'I agree' button</h6>
				<!-- Signature area -->
				<div id="signature"></div>
				<input  type='button' id='click' value='I agree'>

			</div>
	</div>
</div>

{% endblock %}